# ===== APP =====
APP_NAME=docs
APP_NAME=/app
APP_PATH=/app
APP_URL=https://domain.com
APP_VERSION=1
DEBUG=False

# ===== UVICORN =====
UVICORN_APP_NAME=main:app
UVICORN_HOST=127.0.0.1
UVICORN_PORT=8000
UVICORN_RELOAD=True

# ===== POSTGRES =====
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_NAME=name
POSTGRES_ECHO=False

# ===== JWT =====
JWT_SECRET_KEY=
JWT_ALGORITHM=

# ===== REDIS =====
REDIS_HOST=docs_redis
REDIS_PASSWORD=foobared